#container1{
    padding-left: 100px;
    padding-right: 80px;
}
#par1{
    width: 550px;
}
#container2{
    padding-left: 100px;
    padding-top: 90px;
}
#container3{
    background-image: url("images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
}
#btn1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
}
.carousel-indicators{
    position: absolute;
    left: -1010px;
    bottom: -230px;

}
.img1{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid;
    border-color: orange;
    margin-right: 10px;
}
#container4{
    width: 550px;
    padding: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
#container5{
   padding-top: 90px;
   padding-bottom: 70px;
   padding-left: 105px;
   padding-right: 70px;
   gap: 30px;
}
@media (max-width: 768px){
    #container1{
        padding-left: 0px;
        padding-right: 0px;
    }
    #container2{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 80px;
    }
    #par1{
        width: 290px;
    }
   #container3{
    background-position: center;
    height: 750px;
    width: 100%;
   }
   #par1 p{
    font-size: 15px;
   }
   #container5{
    padding: 0px;
    margin-left: 18px;
    margin-top: 35px;
   }
   #container4{
    flex-direction: column;
   }
   .img1{
    width: 130px;
    height: 130px;
    margin-left: 60px;
   }
   #container4{
    width: 300px;
    padding: 20px;
    text-align: center;
   }
   #btn1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: yellow;
}
.carousel-indicators{
    position: absolute;
    left: -250px;
}
}
