* {
    padding: 0px;
    margin: 0px;
}
.menu-categories a {
    align-content: center;
    text-decoration: none;
    text-align: center;
    color: #343a40;
}
.menuheader {
    font-style: italic;
}
.menuheader {
    text-align: center;
    margin: 50px;
}
.menuheader h2{
    margin-bottom: 30px;
}
.lnkstyle {
    padding: 10px;
    margin: 13px;
}  
.lnkstyle:hover { 
    color: aliceblue;
    background-color: #343a40;
    border-radius: 20px 20px 20px 20px;  
    padding-left: 15px;
    padding-right: 15px;
}
    .row1 {
        display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.row1 img {
    width: 300px;
    height: 260px;
    margin: 30px;
    padding: 50px;
    margin-bottom: -25px;
    
}
.imagestyling {
    background-color: rgb(243, 240, 240);
    border-radius: 20px 20px 0px 50px;  
}
.cart img {
width: 40px;
height: 40px;
margin: 10px;
padding: 10px;
background-color: orange;
border-radius: 100%;
margin-left: 200px;
margin-top: -75px;
}
.pictxt {
    text-align: left;
    padding-top: 20px;
    background-color: #343a40;
    color: aliceblue;
    padding: 70px;
    width: 300px;
    height: 260px;
    padding-bottom: 250px;
    margin-left: 30px;
    padding-left: 30px;
    margin-top: -25px;
    border-radius: 0px 0px 20px 20px;  
}
.pictxt .price-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30px;
    height: 40px;
}
.pcart{
    color: aliceblue;
}
.button {
text-align: center;
}
.bttn {
    background-color: orange;
    color: aliceblue;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    border-color: white;
    width: 200px;
    border-radius: 20px 20px 20px 20px;  
}